.App {
  text-align: center;

}

.homepage{
  display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
height: 60vh;
}
.secondpara-home{
  padding: 20px 0px;
  color: green;
}
.homeleftdiv{
  background-color: #F8F5F1;
  margin: 10px;
  padding: 20% 30px;
  /* max-height: 90vh; */
}
.homerightdiv{
margin: 20px 0px;
}